body {
    background-color: #666;
    font-family: 'Press Start 2P', cursive;
    color:#202020;
    font-size:18px;
    overflow:hidden;
    margin:0px; padding:0px;
    cursor:url(../images/cursor.png), auto;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
    user-select: none;
}

container {
    width:640px; height:480px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    background-image: url(../images/console.png);
    background-repeat: no-repeat;
}

hygiene {
    transform: translate(200px, 74px);
}

food {
    transform: translate(320px, 74px);
}

happyness {
    transform: translate(447px, 74px);
}

jibby {
    width:162px; height:162px;
    transform: translate(235px, 120px);
    opacity:0.7;
    cursor:url(../images/hand_open.png), auto;
}

jibby:active {
    cursor:url(../images/hand_closed.png), auto;
}

.idle {
    background-image: url(../images/idle.png);
}

foodbutton {
    background-image: url(../images/btn_eat.png);
    transform: translate(184px, 354px);
    width:110px; height:110px;
    cursor:url(../images/hand.png), auto;
}

washbutton {
    background-image: url(../images/btn_wash.png);
    transform: translate(357px, 354px);
    width:110px; height:110px;
    cursor:url(../images/hand.png), auto;
}

foodbutton:active, washbutton:active {
    background-position-x: -110px;
}